@mixin wrapper {
  width: 100%;
  margin: 0 auto;
  // padding: 0 5% 0 5.5%;
  padding: 0 5.5% 0 6%;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin main-title {
  margin: 0;
  font-family: $s-font;
  font-style: normal;
  font-weight: normal;

  font-size: 22px;
  line-height: 25px;
  color: #2c2929;

  @media ($tablet) {
    font-size: 34px;
    line-height: 120%;
  }
}
