$m-font: "Montserrat", Arial, sans-serif;
$s-font: "yesevaone", Georgia, serif;
$b-color: #2c2929;
$s-color: #b65a23;
$bg-color: #f3f3f3;
$links-color: #b15a25;
$fade-color: rgba(44, 41, 41, 0.5);
$tablet: "min-width: 768px";
$desktop: "min-width: 1200px";
