---
title: История коллекции
description: Description test
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "./partials/_breadcrumbs.html" %}

<section class="textpage">
  <div class="textpage__wrapper">
    <div class="textpage__head  textpage__head--no-mb">
      <h1 class="textpage__title">ИСТОРИЯ НУМИЗМАТИЧЕСКОЙ КОЛЛЕЦИИ <br>
        1755-2005
        (к 250-летию Московского государственного университета имени <br>М.В. Ломоносова)</h1>
      <ul class="textpage__head-list">
        <li class="textpage__head-list-item"><a href="#">Госкаталог</a></li>
        <li class="textpage__head-list-item"><a href="#">Коллекция Онлайн</a></li>
        <li class="textpage__head-list-item"><a href="#">История отдела</a></li>
      </ul>
    </div>
    <ul class="textpage__nav-list">
      <li class="textpage__nav-item"><a href="#">Коллекция Демидова</a></li>
      <li class="textpage__nav-item"><a href="#">Коллекция Голикова </a></li>
      <li class="textpage__nav-item"><a href="#">Коллекция Розанова</a></li>
      <li class="textpage__nav-item"><a href="#">Коллекция Мальцева</a></li>
    </ul>


    <div class="textpage__content">
      <div class="textpage__left-col">
        <div class="column-content  column-content--no-mb">
          <figure class="column-content__image">
            <div
              class="column-content__image-wrapper  column-content__image-wrapper--no-bg  column-content__image-wrapper--no-padding">
              <a href="/images/medal.png" data-fancybox="gallery"
                data-caption="Описание фото для всплывающего окна если надо">
                <img src="/images/medal.png" loading="lazy" width="287" height="287" alt="Описание фото">
              </a>
            </div>
            <figcaption class="column-content__image-description  column-content__image-description--text-center">
              <p>Наградная медаль за сражение при Лесной 28 сентября (9 октября) 1708 года. Происходит из <a
                  href="#">коллекции
                  великого князя Георгия Михайловича</a></p>
            </figcaption>
          </figure>
        </div>
      </div>

      <div class="textpage__right-col">
        <p>В середине XVIII века в Императорском Московском Университете начала формироваться коллекция монет и медалей.
          После Отечественной войны 1812 года и восстановления Университета коллекция была известна уже как Минцкабинет.
          В 1852 году Минцкабинет стал частью университетского Кабинета Древностей и Изящных Искусств. В 1888 году
          русская нумизматическая коллекция Университета была передана в Исторический музей, а античные и
          западноевропейские монеты и медали в 1912 году вошли в собрание подлинников Музея Изящных Искусств имени
          императора Александра III. Современная коллекция ГМИИ им. А.С.Пушкина одна из лучших в России и зарубежом. В
          этом собрании уже более двухсот тысяч памятников нумизматики: монет, медалей, орденов, нагрудных знаков, бон,
          гемм, слепков с гемм и камей из европейских кабинетов резных камней и более трех тысяч томов специальной
          библиотеки.</p>
      </div>
    </div>

    <div class="textpage__content">
      <div class="textpage__left-col">
        <div class="column-content  column-content--no-mb">
          <!-- Swiper -->
          <div class="column-content__slider">
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                {% for item in range(0, 2) -%}
                <figure class="column-content__image  swiper-slide">
                  <div class="column-content__image-wrapper">
                    <a href="//via.placeholder.com/1281x366" data-fancybox="gallery"
                      data-caption="Описание фото для всплывающего окна если надо">
                      <img src="//via.placeholder.com/281x366" loading="lazy" width="281" height="366"
                        alt="Описание фото">
                    </a>
                  </div>
                </figure>

                <figure class="column-content__image  swiper-slide">
                  <div class="column-content__image-wrapper">
                    <a href="//via.placeholder.com/2281x366" data-fancybox="gallery"
                      data-caption="Описание фото для всплывающего окна если надо">
                      <img src="//via.placeholder.com/366x281" loading="lazy" width="366" height="281"
                        alt="Описание фото">
                    </a>
                  </div>
                </figure>
                {%- endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>

          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              {% for item in range(0, 2) -%}
              <div class="column-content__image-description  swiper-slide">
                <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из <a
                    href="#">коллекции
                    великого князя Георгия Михайловича</a></p>
              </div>
              <div class="column-content__image-description  swiper-slide">
                <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из <a
                    href="#">коллекции
                    великого князя Георгия Михайловича</a></p>
              </div>
              {%- endfor %}
            </div>
          </div>
        </div>
      </div>

      <h2 class="textpage__section-title">От зарождения Минцкабинета до Отечественной войны 1812 года
        <span>(вторая половина XVIII — начало XIX века)</span>
      </h2>

      <div class="textpage__right-col">
        <p>Состав и характер этого нумизматического собрания определила его принадлежность Университету, в котором с
          самого начала его существования читались курсы нумизматики и геральдики. Монеты и медали служили учебным
          пособием для студентов. Одним из самых ранних поступлений в университетскую коллекцию был дар "Дактилиотеки"
          Ф.Д. Липперта от неизвестного лица в 1770 и 1772 годах. Этот был целый кабинет, который состоял из нескольких
          тысяч слепков с гемм, хранившихся в европейских музеях. Слепки были систематизированы по хронологии и сюжетам.
          К Кабинету прилагался специальный каталог. </p>

        <p>Другой беспрецедентный по значению вклад сделал в 1803 и 1806 году Павел Григорьевич Демидов (1738-1821). Он
          подарил Университету свою богатейшую библиотеку, а также коллекции, которые он собирал более сорока лет. В них
          входили: кабинет натуральной истории и художественных редкостей, а также собрание монет и медалей. Известно,
          что П.Г. Демидов, который много путешествовал по Европе, приобретал не только отдельные редкости, но и целые
          собрания. В 1750-1760-х годах он купил часть распродававшейся в тот момент коллекции основоположника
          скандинавской нумизматики Элиаса Бреннера (1647-1717). Несколько сотен прекрасно подобранных шведских монет и
          медалей вошли в собрание Демидова, и позднее большая часть этой коллекции влилась в состав университетского
          Минцкабинета. </p>

        <p>За щедрый дар Александр I наградил П.Г. Демидова специально изготовленной золотой медалью с надписью «За
          благотворение наукам». В 1803 году уже от самого императора поступили в дар приобретенные им для университета
          кабинет натуральной истории, книги и минцкабинет князяС. Яблоновского, состоящий, в основном, из европейских
          золотых монет XVII-XVIII веков.</p>
      </div>
    </div>

    <div class="textpage__content">
      <div class="textpage__left-col">
        <div class="column-content  column-content--no-mb">
          <!-- Swiper -->
          <div class="column-content__slider">
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                {% for item in range(0, 2) -%}
                <figure class="column-content__image  swiper-slide">
                  <div class="column-content__image-wrapper">
                    <a href="/images/medal.png" data-fancybox="gallery"
                      data-caption="Описание фото для всплывающего окна если надо">
                      <img src="//via.placeholder.com/281x366" loading="lazy" width="281" height="366"
                        alt="Описание фото">
                    </a>
                  </div>
                </figure>

                <figure class="column-content__image  swiper-slide">
                  <div class="column-content__image-wrapper">
                    <a href="/images/medal.png" data-fancybox="gallery"
                      data-caption="Описание фото для всплывающего окна если надо">
                      <img src="//via.placeholder.com/366x281" loading="lazy" width="366" height="281"
                        alt="Описание фото">
                    </a>
                  </div>
                </figure>
                {%- endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>

          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              {% for item in range(0, 2) -%}
              <div class="column-content__image-description  swiper-slide">
                <p>Македония. Ззолотой статер Филиппа III Арридея (323-216 гг до н.э.). Собрание МУ до 1812 года.</p>
              </div>
              <div class="column-content__image-description  swiper-slide">
                <p>Македония. Ззолотой статер Филиппа III Арридея (323-216 гг до н.э.). Собрание МУ до 1812 года.</p>
              </div>
              {%- endfor %}
            </div>
          </div>
        </div>
      </div>

      <h2 class="textpage__section-title">Коллекция после войны 1812 года и формирование Минцкабинета
        <span>(1812 — 1852)</span>
      </h2>

      <div class="textpage__right-col">
        <p>Драматические события войны 1812 года нанесли жестокий урон библиотеке и коллекциям Московского Университета.
          Благодаря усилиям ректора И.А. Гейма (1758-1821), профессоров Г.И. Фишера фон Вальдгейма (1771-1853), М.Г.
          Гаврилова (1759-1829) и М.Т. Каченовского (1775-1842) часть ценностей была эвакуирована и тем самым спасена.
        </p>

        <p>В ГМИИ им. А.С. Пушкина хранятся документы, книги, монеты и медали, уцелевшие во время войны 1812 года. В их
          числе были авторские шведские медали, золотые древнегреческие монеты и экземпляры регулярной европейской
          чеканки. Все они вошли в первый каталог университетского Минцкабинета, изданный в 1826 году, и составили
          основу Кабинета Древностей и Изящных Искусств. </p>

        <p>Этот проект разрабатывался в 1829 году по инициативе С.П. Шевырева и М.П. Погодина, которые в то время были
          еще неизвестными, но уже заметными своими талантами и энергией людьми, ставшими позднее профессорами
          Университета. Идея была горячо поддержана княгиней З.А. Волконской, которая хотела подарить Университету такой
          Музей, но Университет был слишком беден, даже чтобы его просто содержать. </p>

        <p>Проект Университетского музея был осуществлен только в 1852 году профессором П.М. Леонтьевым (1822-1875),
          когда на Моховой был открыт Кабинет Древностей и Изящных искусств, где посетители могли увидеть в витринах
          сокровища Минцкабинета и гипсовые слепки с известных древнегреческих и римских скульптур.</p>
      </div>
    </div>

    <div class="textpage__content">
      <div class="textpage__left-col">
        <div class="column-content  column-content--no-mb">
          <!-- Swiper -->
          <div class="column-content__slider">
            <div class="swiper-container gallery-top">
              <div class="swiper-wrapper">
                {% for item in range(0, 2) -%}
                <figure class="column-content__image  swiper-slide">
                  <div class="column-content__image-wrapper">
                    <a href="//via.placeholder.com/1281x366" data-fancybox="gallery"
                      data-caption="Описание фото для всплывающего окна если надо">
                      <img src="//via.placeholder.com/281x366" loading="lazy" width="281" height="366"
                        alt="Описание фото">
                    </a>
                  </div>
                </figure>

                <figure class="column-content__image  swiper-slide">
                  <div class="column-content__image-wrapper">
                    <a href="//via.placeholder.com/281x1366" data-fancybox="gallery"
                      data-caption="Описание фото для всплывающего окна если надо">
                      <img src="//via.placeholder.com/366x281" loading="lazy" width="366" height="281"
                        alt="Описание фото">
                    </a>
                  </div>
                </figure>
                {%- endfor %}
              </div>
              <div class="swiper-pagination"></div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>

          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              {% for item in range(0, 2) -%}
              <div class="column-content__image-description  swiper-slide">
                <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из <a
                    href="#">коллекции
                    великого князя Георгия Михайловича</a></p>
              </div>
              <div class="column-content__image-description  swiper-slide">
                <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из <a
                    href="#">коллекции
                    великого князя Георгия Михайловича</a></p>
              </div>
              {%- endfor %}
            </div>
          </div>
        </div>
      </div>

      <h2 class="textpage__section-title">От Кабинета Древностей до Музея Изящных искусств
        <span>(1852 — 1912)</span>
      </h2>

      <div class="textpage__right-col">
        <p>К 100-летнему юбилею Императорского Московского университета собрание Минцкабинета значительно увеличилось.
          Поступила коллекция монет и медалей А.И. Тургенева (1784-1845), известного общественного деятеля, историка,
          археографа, публициста. При посредничестве куратора Университета графа С.Г. Строганова (1794-1882) для
          Минцкабинета было куплено около шести тысяч римских монет из бывшей коллекции российского консула в Генуе К.
          Гейдекена. </p>

        <p>Минцкабинет составлял уже более 14 тысяч предметов и располагался в Кабинете Древностей и Изящных Искусств
          около минералогического кабинета. По случаю юбилея была отчеканена медальс изображениями основателей
          Университета. Кроме пожертвований в коллекцию Минцкабинета с середины XIX в. стали поступать монеты из
          археологических раскопок, которые вели профессора П.М. Леонтьев и К.К. Гёрц (1820-1883). </p>

        <p>В 1855 году почетным членом Императорского Университета графом Л.А. Перовским были подарены шесть золотых
          монет боспорских царей. Во второй половине XIX века К.К. Гёрцем была начата каталогизация монет
          университетского собрания. Восточные монеты из собрания Университета впервые были опубликованы выдающимся
          востоковедом и нумизматом Х.Д. Френом (1782-1851). В 1891 году вышел каталог древнегреческих монет, написанный
          известным нумизматом А.В. Орешниковым (1855-1933). </p>

        <p>В 1888 году в Исторический музей было передано из Университета около девяти тысяч русских монет и медалей. В
          Университетском Минцкабинете теперь хранились только античные, западноевропейскиеи восточные монеты, которые
          составили часть коллекции подлинников нового Музея изящных искусств, основанного и построенного по инициативе
          профессора И.В. Цветаева (1847-1913). </p>

        <p>Музей имени императора Алекандра III был открыт в 1912 году и его Христианский дворик украшали
          западноевропейские медали и римские монеты, подаренные российским послом в Ватикане К.Г. Губастовым.</p>
      </div>
    </div>
  </div>
</section>

{% endblock %}
