---
title: Глоссарий
description: Description test
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "./partials/_breadcrumbs.html" %}

<section class="glossary">
  <div class="glossary__wrapper">
    <h1 class="glossary__title">Предметный справочник</h1>
    <ul class="glossary__list">
      <li class="glossary__item">
        <h2 class="glossary__item-title">Аркетто (итал. archetto) </h2>
        <div class="glossary__item-picture">
          <img src="//via.placeholder.com/340x260" loading="lazy" width="340" height="260" alt="Описание фото">
        </div>
        <div class="glossary__item-text">
          <p>Небольшая пила, изготовленная из гнутого прута каштана и натянутой железной проволоки. Внешне напоминает
            арку — отсюда и название инструмента. Применяется традиционно для точного выпиливания фигурных элементов из
            тонкого спила камня при изготовлении commesso di pietre dure. Во время работы мастер при каждом движении
            добавляет на проволоку абразивный влажный материал, позволяющий деликатно спиливать как твердые, так и
            мягкие камни. Все эти нюансы помогают избежать ненужных трещин и порчи дорого материала.</p>
        </div>
      </li>
      <li class="glossary__item">
        <h2 class="glossary__item-title">Казино Медичео ди Сан Марко (Casino Mediceo di San Marco)</h2>
        <div class="glossary__item-picture">
          <img src="//via.placeholder.com/340x260" loading="lazy" width="340" height="260" alt="Описание фото">
        </div>
        <div class="glossary__item-text">
          <p>Палаццо в стиле Позднего Возрождения во Флоренции, воздвигнутое на месте находившихся здесь со времен
            Лоренцо Медичи Великолепного (1449–1492) мастерских и Академии искусств (Accademia degli Orti Medicei). В
            1494 году Медичи были изгнаны из города и мастерские постепенно пришли в упадок. Благодаря Франческо I
            Медичи (1541–1587) в 1568–1574 годах художественный центр был возрожден и реконструирован: здесь
            расположились различные мастерские и лаборатории, в том числе алхимические.</p>
        </div>
      </li>
      <li class="glossary__item">
        <h2 class="glossary__item-title">Мастерская великого герцога</h2>
        <div class="glossary__item-picture">
          <img src="//via.placeholder.com/340x260" loading="lazy" width="340" height="260" alt="Описание фото">
        </div>
        <div class="glossary__item-text">
          <p>Группа объединенных мастерских под покровительством великого герцога Тосканского Франческо I Медичи
            (1541–1587) ведет свое начало с 1580 года (находилась в Казино ди Сан Марко во Флоренции). Однако
            официальной датой создания считается 3 сентября 1588 года, когда Фердинандо I Медичи (1549–1609) провел
            реорганизацию мастерских, располагавшихся в то время уже во дворце Уффици. Медичи способствовали развитию
            различных изобразительных искусств, приглашая работать лучших не только итальянских, но и североевропейских
            мастеров. </p>
        </div>
      </li>
    </ul>
  </div>
</section>

{% endblock %}
