---
title: Благодарим
description: Description test
---
{% extends "layouts/_layout.html" %}

{% block content %}

<section class="sponsors">
  <div class="sponsors__wrapper">
    <div class="sponsors__head">
      <h1 class="sponsors__title">{{title}}</h1>
      <div class="sponsors__head-text">
        <p>Ваша искренняя поддержка, любой Ваш вклад помогают нам реализовывать выставочные проекты, вести
          просветительскую деятельность, сохранять и пополнять коллекцию уникальными экспонатамии развивать наш музей в
          соответствии с высокими мировыми стандартами.Ваша искренняя поддержка, любой Ваш вклад помогают нам
          реализовывать выставочные проекты, вести просветительскую деятельность, сохранять и пополнять коллекцию
          уникальными экспонатами и развивать наш музей в соответствии с высокими мировыми стандартами.Ваша искренняя
          поддержка, любой Ваш вклад помогают нам реализовывать выставочные проекты, вести просветительскую
          деятельность, сохранять и пополнять коллекцию уникальными экспонатами и развивать наш музей в соответствии с
          высокими мировыми стандартами.</p>
      </div>
      <div class="sponsors__contacts">
        <h2 class="sponsors__contacts-title">Отдел по работе со спонсорами </h2>
        <p>+7 929 512 54 00</p>
        <p><a href="mailto:fundraising@arts-museum.ru">fundraising@arts-museum.ru</a></p>
      </div>
    </div>

    <h3 class="sponosors__list-title">Нам помогают</h3>
    <ul class="sponsors__list">
      <li class="sponsors__list-item">
        <div class="sponsors__logo">
          <h4>Партнер отдела</h4>
          <h4>АО ЮниКредит Банк</h4>
          <a href="#"><img src="/images/unicreditbank-logo.svg" loading="lazy" width="370" height="48"
              alt="Логотип спонсора"></a>
        </div>
        <div class="sponsors__text">
          <h4>АО ЮниКредит Банк</h4>
          <p>ЮниКредит Банк — это коммерческий банк, работающий в России с 1989 года, который является одним из
            крупнейших российских банков. На протяжении нескольких лет ЮниКредит Банк успешно сотрудничает с отделом
            нумизматического искусства Государственного музея изобразительных искусств им. А.С. Пушкина.
            В частности, в 2016 году Банк выступил спонсором выпуска каталога шедевров медальерного искусства из
            собрания ГМИИ им. А.С. Пушкина, а в 2018 году был издан корпоративный календарь ЮниКредит Банка на 2019 год,
            в котором представлена серия авторских фотографий монет разных стран и эпох из богатейшей коллекции музея.
          </p>
        </div>
      </li>
      <li class="sponsors__list-item">
        <div class="sponsors__logo">
          <h4>Партнер круглого стола</h4>
          <a href="#"><img src="/images/vtb-logo.svg" loading="lazy" alt="Логотип спонсора"></a>
        </div>
        <div class="sponsors__text">
          <h4>Нумизматический клуб </h4>
          <p>Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о
            нумизматическом клубе Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о нумизматическом
            клубе Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о
            нумизматическом клубе Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о нумизматическом
            клубе Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о нумизматическом клубе Текст о
            нумизматическом клубе </p>
        </div>
      </li>
      <li class="sponsors__list-item">
        <div class="sponsors__logo">
          <h4>Партнер 2009-2012 гг.</h4>
          <img src="//via.placeholder.com/377x120" loading="lazy" width="377" height="120" alt="Описание фото">
        </div>
        <div class="sponsors__text">
          <h4>Лукойл</h4>
          <p>текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст
            о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере </p>
        </div>
      </li>
      <li class="sponsors__list-item">
        <div class="sponsors__logo">
          <h4>Благодарим за помощь</h4>
          <img src="//via.placeholder.com/377x120" loading="lazy" width="377" height="120" alt="Описание фото">
        </div>
        <div class="sponsors__text">
          <h4>Дом графики Ровинского </h4>
          <p>текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст
            о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере </p>
        </div>
      </li>
    </ul>

    <h3 class="sponosors__list-title">С нами сотрудничают</h3>
    <ul class="sponsors__list">
      <li class="sponsors__list-item">
        <div class="sponsors__logo">
          <img src="//via.placeholder.com/377x262" loading="lazy" width="377" height="262" alt="Описание фото">
        </div>
        <div class="sponsors__text">
          <h4>Государственный Эрмитаж</h4>
          <p>текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст
            о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере
            текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере</p>
        </div>
      </li>
      <li class="sponsors__list-item">
        <div class="sponsors__logo">
          <img src="//via.placeholder.com/377x262" loading="lazy" width="377" height="262" alt="Описание фото">
        </div>
        <div class="sponsors__text">
          <h4>Государственный Исторический музей</h4>
          <p>текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст
            о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере
            текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере</p>
        </div>
      </li>
      <li class="sponsors__list-item">
        <div class="sponsors__logo">
          <img src="//via.placeholder.com/377x262" loading="lazy" width="377" height="262" alt="Описание фото">
        </div>
        <div class="sponsors__text">
          <h4>Монетный двор</h4>
          <p>текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст
            о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о
            партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере
            текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере текст о партнере</p>
        </div>
      </li>
    </ul>

  </div>
</section>

{% endblock %}
