---
title: «Памятные древности свеев» Нумизматическая коллекция Элиаса Бреннера и Павла Григорьевича Демидова (h1)
description: Description test
---
{% extends "layouts/_layout.html" %}

{% block content %}

{% include "./partials/_breadcrumbs.html" %}

<section class="textpage">
  <div class="textpage__wrapper">
    <h1 class="textpage__title">«Памятные древности свеев»<br>
      Нумизматическая коллекция Элиаса<br>
      Бреннера и Павла Григорьевича Демидова (h1)</h1>

    <div class="textpage__content">
      <div class="textpage__left-col">
        <div class="column-content">
          <figure class="column-content__image">
            <div class="column-content__image-wrapper">
              <img src="//via.placeholder.com/281x366" loading="lazy" width="281" height="366" alt="Описание фото">
            </div>
            <figcaption class="column-content__image-description">
              <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из <a
                  href="#">коллекции
                  великого князя Георгия Михайловича</a></p>
            </figcaption>
          </figure>

          <figure class="column-content__image">
            <div class="column-content__image-wrapper">
              <img src="//via.placeholder.com/366x281" loading="lazy" width="366" height="281" alt="Описание фото">
            </div>
            <figcaption class="column-content__image-description">
              <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из коллекции
                великого князя Георгия Михайловича</p>
            </figcaption>
          </figure>
        </div>

        <div class="column-content">
          <!-- Swiper -->

          <div class="swiper-container gallery-top">
            <div class="swiper-wrapper">
              {% for item in range(0, 2) -%}
              <figure class="column-content__image  swiper-slide">
                <div class="column-content__image-wrapper">
                  <img src="//via.placeholder.com/281x366" loading="lazy" width="281" height="366" alt="Описание фото">
                </div>
              </figure>

              <figure class="column-content__image  swiper-slide">
                <div class="column-content__image-wrapper">
                  <img src="//via.placeholder.com/366x281" loading="lazy" width="366" height="281" alt="Описание фото">
                </div>
              </figure>
              {%- endfor %}
            </div>
            <div class="swiper-pagination"></div>
            <!-- Add Arrows -->
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
          </div>
          <div class="swiper-container gallery-thumbs">
            <div class="swiper-wrapper">
              {% for item in range(0, 2) -%}
              <div class="column-content__image-description  swiper-slide">
                <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из коллекции
                  великого князя Георгия Михайловича</p>
              </div>
              <div class="column-content__image-description  swiper-slide">
                <p>Наградная медаль за сражение при Лесной 28 сентября(9 октября) 1708 года. Происходит из коллекции
                  великого князя Георгия Михайловича</p>
              </div>
              {%- endfor %}
            </div>
          </div>
        </div>


      </div>

      <div class="textpage__right-col">
        <p>Элиас Бреннер родился в 1647 году в семье настоятеля храма в местечке Стурчиро (Финляндия).Еще в раннем
          возрасте проявились его художественные способности и интерес к истории. В 60-х годах он поступил в Упсальский
          университет и стал служить в так называемой «Коллегии древностей» – учреждении, занимавшемся изучением
          древностей самого разного рода по всей стране. Члены этой коллегии должны были изучать все древние памятники,
          особенно рунические надписи и стихи; ученые должны были собирать законодательные и судебные книги, хроники,
          повести и стихи о драконах, змеях, карликах и путешествовать по старинным монастырям, замкам, местечкам и
          городам, изучать документы, собирать старинные монеты... В этой замечательной коллегии молодой Элиас Бреннер
          служил рисовальщиком, а рисовальщик древностей в ту пору и сам был в большой степени исследователем – ведь ему
          приходилось воспроизводить памятники, многие из которых были малопонятны. Он имел дело с таким серьезным и
          даже при современных технических возможностях непростым для фиксации и изучения материалом, как рунические
          знаки, надписи на средневековых надгробиях, росписи и церковные книги, архитектура и архитектурные детали,
          предметы быта и культа, огромное количество гербов и, наконец, памятники нумизматики. На службе в коллегии
          Бреннер не только приобрел навыки исследователя древностей, но и сам стал собирать монеты и медали, увидев,
          что эти маленькие предметы являются ценнейшими источниками по истории страны – настоящими капсулами времени,
          способными сохранить на века сведения о людях и событиях.</p>

        <h2>Подзаголовок статьи (h2)</h2>

        <p>После 1673 года Бреннер оставил службу в коллегии и переехал в Стокгольм, посвятив себя ненадежной и
          неопределенной профессии свободного художника. Своим занятием он выбрал модное искусство миниатюрного
          портрета. Здесь к нему пришло признание. Он быстро сделал карьеру и в 1684 году стал придворным миниатюристом.
        </p>

        <ul>
          <li>С признанием пришел достаток и возможность создать семью.</li>
          <li>В 1676 году он женился на Эренгерте Стамм (1651–1679)</li>
          <li>Брак закончился трагически, так как через три года она умерла.</li>
          <li>Уже в следующем, 1680 году, Бреннер женился на Софии Элизабет Вебер (1659–1730).</li>
        </ul>

        <p>Она была «ученой дамой», знатоком нескольких языков, на которых писала стихи, литератором, мастером
          поэтического слова. София Элизабет приняла участие и в ученой карьере мужа, она была его ассистентом и
          посредником в некоторых научных контактах с зарубежными исследователями.</p>

        <p>Интерес Элиаса Бреннера к монетам и медалям не угасал. Он стал опытным нумизматом-медиевистом. Его коллекция
          была небольшой, но очень репрезентативной и в полной мере отражала историю Швеции от конца X до XVII века. По
          сути дела, ученому удалось собрать костяк шведской нумизматики. Он обратился к королю с прошением о привилегии
          издать труд о шведских монетах, и 16 мая 1686 года его прошение было удовлетворено. В 1691 году трактат
          “Thesaurus nummorum Sveo-Gothicorum” («Сокровищница свее-гётских монет») был напечатан на шведском и латинском
          языках. Это издание – целая страница в истории нумизматической науки.</p>

        <blockquote>
          <p>«Ко времени Бреннера в литературе о монетах был накоплен объемный материал, выработаны методики и подняты
            важнейшие вопросы и проблемы, но все это касалось в основном античной нумизматики. Интерес к средневековым
            монетам возник сравнительно поздно, поэтому Бреннер считается одним из первых профессиональных
            нумизматов-медиевистов. Его трактат был также одним из первых трудов по национальной монетной истории и
            первой систематической публикацией монет и медалей одной страны. Cам Бреннер считается основателем
            скандинавской нумизматики.»

          </p>
        </blockquote>

        <p>Интерес Элиаса Бреннера к монетам и медалям не угасал. Он стал опытным нумизматом-медиевистом. Его коллекция
          была небольшой, но очень репрезентативной и в полной мере отражала историю Швеции от конца X до XVII века. По
          сути дела, ученому удалось собрать костяк шведской нумизматики. Он обратился к королю с прошением о привилегии
          издать труд о шведских монетах, и 16 мая 1686 года его прошение было удовлетворено. В 1691 году трактат
          “Thesaurus nummorum Sveo-Gothicorum” («Сокровищница свее-гётских монет») был напечатан на шведском и латинском
          языках. Это издание – целая страница в истории нумизматической науки.</p>

        <h3>Подзаголовок статьи (h3)</h3>
        <p>Интерес Элиаса Бреннера к монетам и медалям не угасал. Он стал опытным нумизматом-медиевистом. Его коллекция
          была небольшой, но очень репрезентативной и в полной мере отражала историю Швеции от конца X до XVII века. По
          сути дела, ученому удалось собрать костяк шведской нумизматики. Он обратился к королю с прошением о привилегии
          издать труд о шведских монетах, и 16 мая 1686 года его прошение было удовлетворено. В 1691 году трактат
          “Thesaurus nummorum Sveo-Gothicorum” («Сокровищница свее-гётских монет») был напечатан на шведском и латинском
          языках. Это издание – целая страница в истории нумизматической науки.</p>
      </div>
    </div>
  </div>
</section>

<section class="reference">
  <div class="reference__wrapper  reference__wrapper--aside-first">
    <div class="reference__aside">
      <h2 class="reference__aside-title">Переход
        на вложенные
        страницы</h2>
      <ul class="reference__aside-list">
        <li class="reference__aside-item"><a href="#">Выставки</a></li>
        <li class="reference__aside-item"><a href="#">Проекты</a></li>
        <li class="reference__aside-item"><a href="#">Лекции</a></li>
        <li class="reference__aside-item"><a href="#">Детские занятия</a></li>
        <li class="reference__aside-item"><a href="#">Конференции</a></li>
      </ul>
    </div>
    <ul class="reference__list">
      {% for item in range(0, 2) -%}
      <li class="reference__item">
        <a href="#" class="reference__item-link">
          <img src="//via.placeholder.com/350x270" loading="lazy" width="350" height="270" alt="Описание фото">
          <h2>Топографический указатель</h2>
        </a>
      </li>
      <li class="reference__item">
        <a href="#" class="reference__item-link">
          <img src="//via.placeholder.com/350x270" loading="lazy" width="350" height="270" alt="Описание фото">
          <h2>длинное название
            «ВЛОЖЕННОЙ СТРАНИЦЫ»</h2>
        </a>
      </li>
      <li class="reference__item">
        <a href="#" class="reference__item-link">
          <img src="//via.placeholder.com/350x270" loading="lazy" width="350" height="270" alt="Описание фото">
          <h2>Топографический указатель</h2>
        </a>
      </li>
      {%- endfor %}
    </ul>
  </div>
</section>

{% endblock %}
