.breadcrumbs__wrapper {
  @include wrapper;
}

.breadcrumbs {
  margin-top: 35px;
  margin-bottom: 40px;
}

.breadcrumbs__list {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs__item {
  position: relative;
  font-size: 12px;
  line-height: 22px;
  color: $links-color;

  @media ($tablet) {
    font-size: 15px;
    line-height: 30px;
  }

  &::after {
    content: "•";
    margin: 0 10px;
    color: $links-color;
    font-size: 15px;
    line-height: 30px;
  }

  &:last-child {
    color: $b-color;

    &::after {
      display: none;
    }

    a {
      text-decoration: none;
      pointer-events: none;
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}
