.page {
  height: 100%;
  background-color: $bg-color;
}

.page__body {
  // @include wrapper;
  max-width: 1640px;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: #fff;
}

.page__main {
  flex-grow: 1;
}
