.social-share {
  margin-bottom: 40px;

  @media ($desktop) {
    margin-bottom: 80px;
  }

  .ya-share2__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 17px;
    row-gap: 14px;

    @media ($desktop) {
      width: 106px;
    }
  }

  .ya-share2__list.ya-share2__list_direction_horizontal > .ya-share2__item {
    margin: 0;
  }

  .ya-share2__container.ya-share2__container_color-scheme_blackwhite
    .ya-share2__badge,
  .ya-share2__container.ya-share2__container_color-scheme_blackwhite
    .ya-share2__mobile-popup-badge {
    background-color: #dac9ba;
    transition: all 0.3s ease;

    &:hover {
      background-color: #fea13a;
    }

    &:active {
      background-color: #d18e48;
    }
  }

  p {
    margin: 0;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  &--one-line {
    .ya-share2__list {
      width: 100%;
    }
  }
}
