.textpage__wrapper {
  @include wrapper;
  padding-top: 10px;
}

.textpage__head {
  margin-bottom: 45px;

  @media ($desktop) {
    display: grid;
    grid-template-columns: minmax(auto, 843px) auto;
    margin-bottom: 105px;

    &--no-mb {
      margin-bottom: 0;
    }
  }
}

.textpage__head-list {
  @include list-reset;
  @media ($desktop) {
    margin-left: auto;
    margin-right: 40px;
  }
}

.textpage__head-list-item {
  font-weight: 600;
  font-size: 18px;
  line-height: 45px;
  text-transform: uppercase;
  color: #b65a23;

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.textpage__nav-list {
  @include list-reset;
  grid-column: 1/-1;
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
  margin-bottom: 70px;
  padding-bottom: 45px;
  border-bottom: 1px solid #d7b8a8;
}

.textpage__nav-item {
  margin-right: 38px;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px;
  color: #b65a23;

  &:last-child {
    margin-right: 0;
  }

  a {
    color: inherit;
    text-decoration: underline;
  }
}

.textpage__title {
  @include main-title;
  letter-spacing: 0.8px;
}

.textpage__content {
  display: flex;
  flex-direction: column;

  @media ($desktop) {
    display: grid;
    grid-template-columns: 485px 1fr;
    column-gap: 8.5%;
    grid-template-rows: min-content auto;
  }
}

.textpage__left-col {
  padding-top: 10px;
  grid-row: 2/3;
  margin-bottom: 35px;

  @media ($desktop) {
    margin-bottom: 0;
  }
}

.textpage__right-col {
  grid-column: 2/3;
  grid-row: 2/3;
  // padding-bottom: 134px;
  padding-bottom: 70px;

  color: #000000;

  p,
  ul,
  ol {
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
  }

  p {
    b,
    strong {
      font-weight: 600;
    }

    a {
      color: $links-color;
      text-decoration: underline;
    }
  }

  strong,
  b {
    font-weight: 500;
  }

  p + h2 {
    margin-top: 52px;
  }

  h2 {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: $s-font;
    font-size: 30px;
    line-height: 30px;
  }

  p + h3 {
    margin-top: 58px;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 35px;
    font-family: $s-font;
    font-size: 24px;
    line-height: 30px;
  }

  ul,
  ol {
    padding: 0;
    list-style: none;
  }

  > ul li {
    position: relative;
    padding-left: 25px;

    &::before {
      content: "";
      position: absolute;
      top: 16px;
      left: 10px;
      display: block;
      width: 2px;
      height: 2px;
      border-radius: 50%;
      background-color: $b-color;
    }
  }

  blockquote {
    margin: 0;
    padding-left: 10px;

    p {
      font-style: italic;
      font-weight: 500;
      font-size: 18px;
      line-height: 30px;
      /* or 167% */

      color: #d18e48;
    }

    @media ($desktop) {
      padding-left: 53px;
      padding-right: 90px;
    }
  }

  table {
    width: 100%;
    margin-bottom: 44px;

    caption {
      text-align: left;

      p {
        margin: 0;
        margin-bottom: 5px;
        font-size: 13px;
        line-height: 18px;
        display: flex;
        align-items: center;
        letter-spacing: -0.08px;
        color: #77767e;
      }

      h3 {
        margin: 0;
        margin-bottom: 17px;
      }
    }

    tr {
      transition: background 0.3s ease;

      &:first-child {
        box-shadow: 0 6px 6px -6px #e9e9ee;
      }

      &:hover {
        // background: #f7f7fa;
        background: rgba(#e7a45e, 0.16);
      }

      &:active {
        background: #e6e4ea;
      }

      th {
        padding: 9px;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.08px;
        text-align: left;
        color: #9a99a2;
      }

      td {
        border-radius: 1px;
        padding: 9px;
        font-size: 13px;
        line-height: 18px;
        letter-spacing: -0.08px;
        color: #232326;

        &:first-child {
          font-weight: 500;
          font-size: 15px;
          line-height: 20px;
          /* or 133% */

          display: flex;
          align-items: center;
          letter-spacing: -0.24px;
          font-feature-settings: "tnum" on, "lnum" on;
        }
      }
    }
  }
}

.textpage__section-title {
  grid-row: 1/2;
  grid-column: 2/3;
  margin-top: 45px;
  margin-bottom: 35px;
  font-family: $s-font;
  font-size: 30px;
  line-height: 30px;

  span {
    display: block;
    color: #9a99a2;
  }

  @media ($desktop) {
    margin-top: 0;
  }

  @media (max-width: 1199px) {
    order: -1;
  }
}

.textpage__head-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 45px;

  @media ($desktop) {
    padding-top: 0;
    align-items: flex-end;
  }
}

.textpage__head-date {
  margin-bottom: 20px;
  font-family: $s-font;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-align: right;
  color: #9a99a2;
}

.textpage__head-btn {
  // min-width: 195px;
  padding: 5px 27px;
  font-weight: 600;
  font-size: 18px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #f3f3f3;
  background: #e7a45e;
  border-radius: 4px;
}

.textpage__table {
  margin-top: 50px;
  margin-bottom: 35px;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #2c2929;

  @media ($tablet) {
    font-size: 17px;
    line-height: 30px;
  }

  @media ($desktop) {
    margin-bottom: 96px;
  }

  table {
    border-collapse: collapse;
    vertical-align: top;
  }

  td {
    padding: 10px 0;
    vertical-align: top;

    &:first-child {
      font-family: $s-font;
      font-style: normal;
      font-weight: normal;
      font-size: 15px;
      line-height: 24px;
      color: #937b65;

      @media ($tablet) {
        font-size: 18px;
        line-height: 30px;
      }

      @media ($desktop) {
        min-width: 177px;
      }
    }
  }
}

.textpage__head-text {
  max-width: 140px;
  font-size: 14px;
  line-height: 17px;
  color: #8b8784;
}

.textpage__iframe {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
  }
}
